$media_desktop: 1600px;
$media_mobile: 768px;

:root {
    --color-white: #FFFFFF;
    --color-black: #2D2D2D;
    --color-red: #E43032;

    --color-light-black: #585858;

    --color-gray: #CACACA;
    --color-dark-gray: #8A8A8A;
    --color-light-gray: #DCDCDC;
    --color-medium-gray: #DCDCDC;
    --color-light-bg-gray: #F8F8F8;
}